.circular-loader-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.circular-loaders,
.circular-loadersB {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-loader {
  position: absolute;
  width: 1.15em;
  height: 13em;
  border-radius: 50px;
  background: #e0e0e0;
}

.circular-loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.15em;
  height: 5em;
  background: #e0e0e0;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  box-shadow:
    inset 5px 5px 15px #d3d2d2ab,
    inset -5px -5px 15px #e9e9e9ab;
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 48px),
    transparent 100%
  );
}

.circular-loader::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.15em;
  height: 4.5em;
  background: #e0e0e0;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  box-shadow:
    inset 5px 5px 15px #d3d2d2ab,
    inset -5px -5px 15px #e9e9e9ab;
  mask-image: linear-gradient(
    to top,
    black calc(100% - 48px),
    transparent 100%
  );
}

.circular-loaderA {
  position: absolute;
  width: 1.15em;
  height: 13em;
  border-radius: 50px;
  background: transparent;
}

.circular-ball0,
.circular-ball1,
.circular-ball2,
.circular-ball3,
.circular-ball4,
.circular-ball5,
.circular-ball6,
.circular-ball7,
.circular-ball8,
.circular-ball9 {
  width: 1.15em;
  height: 1.15em;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px,
    0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
  background-color: rgb(232, 232, 232, 1);
  animation: 3.63s circular-ball-move ease-in-out infinite;
}

.circular-loader:nth-child(2) {
  transform: rotate(20deg);
}
.circular-loader:nth-child(3) {
  transform: rotate(40deg);
}
.circular-loader:nth-child(4) {
  transform: rotate(60deg);
}
.circular-loader:nth-child(5) {
  transform: rotate(80deg);
}
.circular-loader:nth-child(6) {
  transform: rotate(100deg);
}
.circular-loader:nth-child(7) {
  transform: rotate(120deg);
}
.circular-loader:nth-child(8) {
  transform: rotate(140deg);
}
.circular-loader:nth-child(9) {
  transform: rotate(160deg);
}

.circular-loaderA:nth-child(2) {
  transform: rotate(20deg);
}
.circular-loaderA:nth-child(3) {
  transform: rotate(40deg);
}
.circular-loaderA:nth-child(4) {
  transform: rotate(60deg);
}
.circular-loaderA:nth-child(5) {
  transform: rotate(80deg);
}
.circular-loaderA:nth-child(6) {
  transform: rotate(100deg);
}
.circular-loaderA:nth-child(7) {
  transform: rotate(120deg);
}
.circular-loaderA:nth-child(8) {
  transform: rotate(140deg);
}
.circular-loaderA:nth-child(9) {
  transform: rotate(160deg);
}

.circular-ball1 {
  animation-delay: 0.2s;
}
.circular-ball2 {
  animation-delay: 0.4s;
}
.circular-ball3 {
  animation-delay: 0.6s;
}
.circular-ball4 {
  animation-delay: 0.8s;
}
.circular-ball5 {
  animation-delay: 1s;
}
.circular-ball6 {
  animation-delay: 1.2s;
}
.circular-ball7 {
  animation-delay: 1.4s;
}
.circular-ball8 {
  animation-delay: 1.6s;
}
.circular-ball9 {
  animation-delay: 1.8s;
}

@keyframes circular-ball-move {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(12em);
  }
  100% {
    transform: translateY(0em);
  }
}
